// fonts
$title-font: "Playfair Display", serif;
$text-font: "Quicksand", serif;

// colors
$header-footer-color: #e2af0d;
$search-color: #fb6107;
$artists-color: #ecd159;
$events-color: #c2bebe;
$text-color: #0b0114;


