@import "Variables";

.artist {
    background-color: $artists-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
        @media (min-width: 768px) {
            justify-content: flex-start;
        }
}

.artist-title {
    font-size: 2rem;
    font-family: $title-font;
    font-weight: bold;
    text-align: center;
}

.artist-desc {
    font-size: 1rem;
    font-family: $text-font;
}


.artist-image {
width: 70vw;
border-radius: 0.7rem;
@media (min-width: 768px) {
    width: 20vw;
}
}

.artist-link{
    text-decoration: none;
}