<section class="contact">
    <h2 class="contact__title">¿quieres venir al patio?</h2>
    <p class="contact__text">Si eres artista y te gustaría venir a presentar tus canciones, estaríamos encantados de que vinieras.</p>
    <p class="contact__text">Rellena el formulario y nos pondremos en contacto contigo para agendar una fecha.</p>
    <form action="" class="contact__form">
        <input type="text" placeholder="Nombre" class="contact__form--input">
        <input type="email" placeholder="Email" class="contact__form--input">
        <input type="text" placeholder="Link a tus redes o canal de Youtube" class="contact__form--input">
        <input type="text" placeholder="Comentarios" class="contact__form--input">
        <input type="submit" class="contact__form--submit">
    </form>
</section>